@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --font-family: "Inter", sans-serif;
    --second-family: "Jost", sans-serif;
    --primary-gradient: linear-gradient(90deg, #0151ff 0%, #a5e1ff 100%);
    --secondary-background: #f7f9fb;
    --button-border: #c1c1c1;
}

