.advantages-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 50px 300px;
    font-family: var(--font-family);
}

.advantages-background-first,
.advantages-background-second {
    pointer-events: none;
}

.advantages-background-first {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.advantages-background-second {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.advantages-heading {
    font-size: 20px;
    font-weight: 700;
}

.advantages-grid-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 20px;

}

.advantages-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #c1c1c1;
    background: var(--secondary-color);
    border-radius: 10px;
    padding: 25px 25px;
    font-weight: 500;
    color: var(--primary-color);
    transition: all .3s ease;

    &:hover {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    }
}

.block-up,
.block-down,
.block-right {
    pointer-events: none;
}

.block-up {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 439px;
}

.block-down {
    position: absolute;
    top: 0;
    right: 0;
    width: 460px;
}

.block-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.advantages-block:nth-child(1) {
    position: relative;
    grid-area: 1 / 1 / 2 / 5;
}
.advantages-block:nth-child(2) {
    position: relative;
    grid-area: 2 / 1 / 3 / 5;
}
.advantages-block:nth-child(3) {
    position: relative;
    grid-area: 1 / 5 / 3 / 7;
}
.advantages-block:nth-child(4) { grid-area: 3 / 1 / 4 / 3; }
.advantages-block:nth-child(5) { grid-area: 3 / 3 / 4 / 5; }
.advantages-block:nth-child(6) { grid-area: 3 / 5 / 4 / 7; }
