.services-content {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 50px 0 50px;
    background: var(--secondary-background);
    font-family: var(--font-family);
}

.services-heading {
    font-size: 20px;
    font-weight: 700;
    padding: 0 300px;
}

.services-grid {
    display: flex;
    justify-content: left;
    gap: 20px;
    padding: 0 300px;
    overflow: hidden;
    width: 100%;
}

.services-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 25px 0 30px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 18px;
    width: 400px;
    gap: 35px;
    user-select: none;
    cursor: grab;

    & img {
        width: 300px;
        pointer-events: none;
    }
}

.services-card:nth-child(1) {
    background: var(--card-gradient);
    color: var(--secondary-color);
}

.services-card:nth-child(2) {
    background: var(--secondary-color);
    border: 1px solid var(--button-border);

}

.services-card:nth-child(3) {
    background: var(--card-second-gradient);
    color: var(--secondary-color);
}

.services-card:nth-child(4) {
    background: var(--secondary-color);
    border: 1px solid var(--button-border);
}

.services-card:nth-child(5) {
    background: var(--card-gradient);
    color: var(--secondary-color);
}
